<div class="chart-wrapper">
  <div data-activates="slide-out" class="button-collapse">
    <i class="fa fa-fw fa-bar-chart"></i>
  </div>

  <div id="slide-out" class="side-nav fixed">
    <div class="button-toggle button-chart"><i class="fa fa-fw fa-bar-chart"></i></div>
    <div class="button-toggle button-teams"><i class="fa fa-fw fa-users"></i></div>

    <div class="chart-container">
      <canvas class="chart"></canvas>
    </div>

    <div class="team-info">
      Team information here
    </div>
  </div>
</div>
