<div class="chart-wrapper">
  <div data-activates="slide-out" class="button-collapse">
    <i class="fa fa-fw fa-bar-chart"></i>
  </div>

  <div id="slide-out" class="side-nav fixed">
    <div class="chart-container">
      <canvas class="chart"></canvas>
    </div>
  </div>
</div>
