<div class="teams-container">
  <% teams.forEach(function(team) { %>
  <div>
    <div class="logo-color">
      <img src="<%= team.imageUrl %>">
    </div>
    <div class="details">
      <div><%= team.name %></div>
    </div>
  </div>
  <% }); %>
</div>
