<!-- <div class="tweet-container">
  <a class="twitter-timeline" data-width="400" data-height="900" href="https://twitter.com/ga_wdi11_Melb">Tweets by GA</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div -->
<div class="twitter-wrapper">
  <!-- <ul id="tweet-list" class="list-group">
    <li class="list-group-item">

    </li>
  </ul> -->
<ul id="tweet-list" class="list-group"><div>Test https://t.co/ytbzpL3TXZ</div><img src="http://pbs.twimg.com/media/C-E2yJRU0AAdZDF.jpg"><br><div>#FULLSLACK https://t.co/XZxOkImAsU</div><img src="http://pbs.twimg.com/media/C-FECmiUAAE7eCe.jpg"></ul>>
</div>
