<div class="tweet-container">
  <a class="twitter-timeline" data-width="400" data-height="900" href="https://twitter.com/GA">Tweets by GA</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
